<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="style.css">
    <script data-require="angular.js@1.3.10" data-semver="1.3.10" src="https://code.angularjs.org/1.3.10/angular.js"></script>
    <script src="madlibsApp.js"></script>
  </head>

  <body ng-app="madlibsApp">

    <div class="content" ng-controller="madlibsCtrl" >
    <header>
      <div class="logo-container">
        <img class="logo" src="logo.png" /></div>
      <div class="header-container">
        <img class="topimage" src="topimage.png"/>
        <h1>Automate This!</h1></div></header>
        
    <section class="form">
      <h2>Provide the following words:</h2>
      <input ng-repeat="field in fields"
             ng-model   ='field["value"]' 
             placeholder='{{field["ph"]}}'></section>
        
      <button ng-click="genderSwap()">Renovate gender</button>

    <section class="madlib">
      {{ fields.name.value }} was a {{fields.job_title.value}} who loved technology.
      Although {{ subjective }} loved parts of {{ posessive }} job, {{ subjective }} absolutely hated {{fields.tedious_task.value}} and {{fields.dirty_task.value}}. 
      So, {{fields.name.value}} met with {{ possessive }} life mentor {{fields.celebrity.value}}
      who told {{ objective }} to learn how to {{fields.useless_skill.value}} with Thinkful.
      Thinkful didn't offer a course on {{fields.useless_skill.value}} so {{ subjective }} studied programming instead.

      What a great decision! With {{ possessive2 }} new skills, {{fields.name.value}} built
      a(n) {{fields.adjective.value}} robot named {{fields.obnoxious_celebrity.value}}
      that not only loved {{fields.dirty_task.value}} but did it {{fields.huge_number.value}} faster.
    </section>    
  </div>
  </body>

</html>
