<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="style.css">
    <script data-require="angular.js@1.3.10" data-semver="1.3.10" src="https://code.angularjs.org/1.3.10/angular.js"></script>
    <script src="madlibsApp.js"></script>
  </head>

  <body ng-app="MadlibsApp">

    <div class="content" ng-controller="MadlibsCtrl as ml" >
    <header>
      <div class="logo-container">
        <img class="logo" src="logo.png" /></div>
      <div class="header-container">
        <img class="topimage" src="topimage.png"/>
        <h1>Automate This!</h1></div></header>
        
    <section class="form">
      <h2>Provide the following words:</h2>
      <input ng-repeat="field in ml.fields"
             ng-model   ='field["value"]' 
             placeholder='{{field["ph"]}}'></section>
        
      <button ng-click="ml.genderSwap()">Renovate gender</button>

    <section class="madlib">
      {{ ml.fields.name.value }} was a {{ml.fields.job_title.value}} who loved technology.
      Although {{ subjective }} loved parts of {{ ml.posessive }} job, {{ ml.subjective }} absolutely hated {{ml.fields.tedious_task.value}} and {{ml.fields.dirty_task.value}}. 
      So, {{ml.fields.name.value}} met with {{ ml.possessive }} life mentor {{ml.fields.celebrity.value}}
      who told {{ ml.objective }} to learn how to {{ml.fields.useless_skill.value}} with Thinkful.
      Thinkful didn't offer a course on {{ml.fields.useless_skill.value}} so {{ ml.subjective }} studied programming instead.

      What a great decision! With {{ ml.possessive2 }} new skills, {{ml.fields.name.value}} built
      a(n) {{ml.fields.adjective.value}} robot named {{ml.fields.obnoxious_celebrity.value}}
      that not only loved {{ml.fields.dirty_task.value}} but did it {{ml.fields.huge_number.value}} faster.
    </section>    
  </div>
  </body>

</html>
